<!-- End page shown after student submits survey -->
<!DOCTYPE html>
<html>
    <head>
            <style>
                    h1{
                        margin: auto;
                        width: 50%;
                        padding-top: 150px;
                        text-align: center;
                    }
                    h4{
                        margin: auto;
                        width: 50%;
                        padding-top: 250px;
                        text-align: center;
                    }
                    </style>
        <h1>Thank you for completing the survey.</h1>
    </head>
    <body>
        <h4>Please close this page once finished.</h2>
    </body>
</html>