<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}"  />
        <!--<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">-->

    </head>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <body>
        <div class="navbar">
            
        </div>

        <div class="body-content">
                
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
                <script>
                /*jQuery($ => {
                  $('.build-wrap').formBuilder()
                })*/
                </script>
                    <form id="rendered-form"  method="POST"> 
                        <div class="rendered-form">
                            <div class="">
                                <h3 id="control-2651788">Engineering Lab Teaching Assistant Evaluation</h3></div>
                            <div class="">
                                <h4 id="control-7899653">Learning from Labs</h4></div>
                            <div class="fb-radio-group form-group field-radio-group-11">
                                <label for="radio-group-11" class="fb-radio-group-label">The labs helped me understand the lecture material.<span class="fb-required">*</span></label>
                                <div class="radio-group">
                                    <div class="fb-radio-inline">
                                        <input name="The labs helped me understand the lecture material." id="radio-group-11-0" required="required" aria-required="true" value="1" type="radio">
                                        <label for="radio-group-11-0">1 - Strongly Disagree</label>
                                    </div>
                                    <div class="fb-radio-inline">
                                        <input name="The labs helped me understand the lecture material." id="radio-group-11-1" required="required" aria-required="true" value="2" type="radio">
                                        <label for="radio-group-11-1">2 - Disagree</label>
                                    </div>
                                    <div class="fb-radio-inline">
                                        <input name="The labs helped me understand the lecture material." id="radio-group-11-2" required="required" aria-required="true" value="3" type="radio">
                                        <label for="radio-group-11-2">3 - Neutral</label>
                                    </div>
                                    <div class="fb-radio-inline">
                                        <input name="The labs helped me understand the lecture material." id="radio-group-11-3" required="required" aria-required="true" value="4" type="radio">
                                        <label for="radio-group-11-3">4 - Agree</label>
                                    </div>
                                    <div class="fb-radio-inline">
                                        <input name="The labs helped me understand the lecture material." id="radio-group-11-4" required="required" aria-required="true" value="5" type="radio">
                                        <label for="radio-group-11-4">5 - Strongly Agree</label>
                                    </div>
                                </div>
                            </div>
                            <div class="fb-radio-group form-group field-radio-group-12">
                                    <label for="radio-group-12" class="fb-radio-group-label">The labs taught me new skills.<span class="fb-required">*</span></label>
                                    <div class="radio-group">
                                        <div class="fb-radio-inline">
                                            <input name="The labs taught me new skills." id="radio-group-12-0" required="required" aria-required="true" value="1" type="radio">
                                            <label for="radio-group-12-0">1 - Strongly Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The labs taught me new skills." id="radio-group-12-1" required="required" aria-required="true" value="2" type="radio">
                                            <label for="radio-group-12-1">2 - Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The labs taught me new skills." id="radio-group-12-2" required="required" aria-required="true" value="3" type="radio">
                                            <label for="radio-group-12-2">3 - Neutral</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The labs taught me new skills." id="radio-group-12-3" required="required" aria-required="true" value="4" type="radio">
                                            <label for="radio-group-12-3">4 - Agree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The labs taught me new skills." id="radio-group-12-4" required="required" aria-required="true" value="5" type="radio">
                                            <label for="radio-group-12-4">5 - Strongly Agree</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-radio-group form-group field-radio-group-13">
                                    <label for="radio-group-13" class="fb-radio-group-label">The labs taught me to think creatively.<span class="fb-required">*</span></label>
                                    <div class="radio-group">
                                        <div class="fb-radio-inline">
                                            <input name="The labs taught me to think creatively." id="radio-group-13-0" required="required" aria-required="true" value="1" type="radio">
                                            <label for="radio-group-13-0">1 - Strongly Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The labs taught me to think creatively." id="radio-group-13-1" required="required" aria-required="true" value="2" type="radio">
                                            <label for="radio-group-13-1">2 - Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The labs taught me to think creatively." id="radio-group-13-2" required="required" aria-required="true" value="3" type="radio">
                                            <label for="radio-group-13-2">3 - Neutral</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The labs taught me to think creatively." id="radio-group-13-3" required="required" aria-required="true" value="4" type="radio">
                                            <label for="radio-group-13-3">4 - Agree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The labs taught me to think creatively." id="radio-group-13-4" required="required" aria-required="true" value="5" type="radio">
                                            <label for="radio-group-13-4">5 - Strongly Agree</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-radio-group form-group field-radio-group-14">
                                    <label for="radio-group-14" class="fb-radio-group-label">I would be able to repeat the labs without help.<span class="fb-required">*</span></label>
                                    <div class="radio-group">
                                        <div class="fb-radio-inline">
                                            <input name="I would be able to repeat the labs without help." id="radio-group-14-0" required="required" aria-required="true" value="1" type="radio">
                                            <label for="radio-group-14-0">1 - Strongly Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="I would be able to repeat the labs without help." id="radio-group-14-1" required="required" aria-required="true" value="2" type="radio">
                                            <label for="radio-group-14-1">2 - Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="I would be able to repeat the labs without help." id="radio-group-14-2" required="required" aria-required="true" value="3" type="radio">
                                            <label for="radio-group-14-2">3 - Neutral</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="I would be able to repeat the labs without help." id="radio-group-14-3" required="required" aria-required="true" value="4" type="radio">
                                            <label for="radio-group-14-3">4 - Agree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="I would be able to repeat the labs without help." id="radio-group-14-4" required="required" aria-required="true" value="5" type="radio">
                                            <label for="radio-group-14-4">5 - Strongly Agree</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-textarea form-group field-textarea-11">
                                    <label for="textarea-11" class="fb-textarea-label">What was your favorite aspect of the lab?</label>
                                    <br></br><textarea type="textarea" maxlength = "200" class="form-control" name="What was your favorite aspect of the lab?" id="textarea-11"></textarea>
                                </div>
                                <div class="fb-textarea form-group field-textarea-12">
                                    <label for="textarea-12" class="fb-textarea-label">What about the lab would you like to see improved?</label>
                                    <br></br><textarea type="textarea" maxlength = "200" class="form-control" name="What about the lab would you like to see improved?" id="textarea-12"></textarea>
                                </div>
                                <div class="">
                                    <h4 id="control-9161472">Lab Instructor</h4></div>
                                <div class="fb-radio-group form-group field-radio-group-21">
                                    <label for="radio-group-21" class="fb-radio-group-label">The lab instructor was supportive.<span class="fb-required">*</span></label>
                                    <div class="radio-group">
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor was supportive." id="radio-group-21-0" required="required" aria-required="true" value="1" type="radio">
                                            <label for="radio-group-21-0">1 - Strongly Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor was supportive." id="radio-group-21-1" required="required" aria-required="true" value="2" type="radio">
                                            <label for="radio-group-21-1">2 - Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor was supportive." id="radio-group-21-2" required="required" aria-required="true" value="3" type="radio">
                                            <label for="radio-group-21-2">3 - Neutral</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor was supportive." id="radio-group-21-3" required="required" aria-required="true" value="4" type="radio">
                                            <label for="radio-group-21-3">4 - Agree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor was supportive." id="radio-group-21-4" required="required" aria-required="true" value="5" type="radio">
                                            <label for="radio-group-21-4">5 - Strongly Agree</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-radio-group form-group field-radio-group-22">
                                    <label for="radio-group-22" class="fb-radio-group-label">The lab instructor was approachable.<span class="fb-required">*</span></label>
                                    <div class="radio-group">
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor was approachable." id="radio-group-22-0" required="required" aria-required="true" value="1" type="radio">
                                            <label for="radio-group-22-0">1 - Strongly Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor was approachable." id="radio-group-22-1" required="required" aria-required="true" value="2" type="radio">
                                            <label for="radio-group-22-1">2 - Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor was approachable." id="radio-group-22-2" required="required" aria-required="true" value="3" type="radio">
                                            <label for="radio-group-22-2">3 - Neutral</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor was approachable." id="radio-group-22-3" required="required" aria-required="true" value="4" type="radio">
                                            <label for="radio-group-22-3">4 - Agree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor was approachable." id="radio-group-22-4" required="required" aria-required="true" value="5" type="radio">
                                            <label for="radio-group-22-4">5 - Strongly Agree</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-radio-group form-group field-radio-group-23">
                                    <label for="radio-group-23" class="fb-radio-group-label">The lab instructor was able to answer my questions.<span class="fb-required">*</span></label>
                                    <div class="radio-group">
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor was able to answer my questions." id="radio-group-23-0" required="required" aria-required="true" value="1" type="radio">
                                            <label for="radio-group-23-0">1 - Strongly Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor was able to answer my questions." id="radio-group-23-1" required="required" aria-required="true" value="2" type="radio">
                                            <label for="radio-group-23-1">2 - Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor was able to answer my questions." id="radio-group-23-2" required="required" aria-required="true" value="3" type="radio">
                                            <label for="radio-group-23-2">3 - Neutral</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor was able to answer my questions." id="radio-group-23-3" required="required" aria-required="true" value="4" type="radio">
                                            <label for="radio-group-23-3">4 - Agree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor was able to answer my questions." id="radio-group-23-4" required="required" aria-required="true" value="5" type="radio">
                                            <label for="radio-group-23-4">5 - Strongly Agree</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-radio-group form-group field-radio-group-24">
                                    <label for="radio-group-24" class="fb-radio-group-label">The lab instructor helped me reach a clear understanding of key concepts.<span class="fb-required">*</span></label>
                                    <div class="radio-group">
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor helped me reach a clear understanding of key concepts." id="radio-group-24-0" required="required" aria-required="true" value="1" type="radio">
                                            <label for="radio-group-24-0">1 - Strongly Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor helped me reach a clear understanding of key concepts." id="radio-group-24-1" required="required" aria-required="true" value="2" type="radio">
                                            <label for="radio-group-24-1">2 - Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor helped me reach a clear understanding of key concepts." id="radio-group-24-2" required="required" aria-required="true" value="3" type="radio">
                                            <label for="radio-group-24-2">3 - Neutral</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor helped me reach a clear understanding of key concepts." id="radio-group-24-3" required="required" aria-required="true" value="4" type="radio">
                                            <label for="radio-group-24-3">4 - Agree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor helped me reach a clear understanding of key concepts." id="radio-group-24-4" required="required" aria-required="true" value="5" type="radio">
                                            <label for="radio-group-24-4">5 - Strongly Agree</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-radio-group form-group field-radio-group-25">
                                    <label for="radio-group-25" class="fb-radio-group-label">The lab instructor fostered a mutually respectful learning environment.<span class="fb-required">*</span></label>
                                    <div class="radio-group">
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor fostered a mutually respectful learning environment." id="radio-group-25-0" required="required" aria-required="true" value="1" type="radio">
                                            <label for="radio-group-25-0">1 - Strongly Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor fostered a mutually respectful learning environment." id="radio-group-25-1" required="required" aria-required="true" value="2" type="radio">
                                            <label for="radio-group-25-1">2 - Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor fostered a mutually respectful learning environment." id="radio-group-25-2" required="required" aria-required="true" value="3" type="radio">
                                            <label for="radio-group-25-2">3 - Neutral</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor fostered a mutually respectful learning environment." id="radio-group-25-3" required="required" aria-required="true" value="4" type="radio">
                                            <label for="radio-group-25-3">4 - Agree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The lab instructor fostered a mutually respectful learning environment." id="radio-group-25-4" required="required" aria-required="true" value="5" type="radio">
                                            <label for="radio-group-25-4">5 - Strongly Agree</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-textarea form-group field-textarea-21">
                                    <label for="textarea-21" class="fb-textarea-label">What, if anything, could the lab instructor do to improve the experience?</label>
                                    <br></br><textarea type="textarea" maxlength = "200" class="form-control" name="What, if anything, could the lab instructor do to improve the experience?" id="textarea-21"></textarea>
                                </div>
                                <div class="">
                                    <h4 id="control-9452557">Lab Space and Equipment</h4></div>
                                <div class="fb-radio-group form-group field-radio-group-31">
                                    <label for="radio-group-31" class="fb-radio-group-label">The amount of lab equipment was sufficient.<span class="fb-required">*</span></label>
                                    <div class="radio-group">
                                        <div class="fb-radio-inline">
                                            <input name="The amount of lab equipment was sufficient." id="radio-group-31-0" required="required" aria-required="true" value="1" type="radio">
                                            <label for="radio-group-31-0">1 - Strongly Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The amount of lab equipment was sufficient." id="radio-group-31-1" required="required" aria-required="true" value="2" type="radio">
                                            <label for="radio-group-31-1">2 - Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The amount of lab equipment was sufficient." id="radio-group-31-2" required="required" aria-required="true" value="3" type="radio">
                                            <label for="radio-group-31-2">3 - Neutral</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The amount of lab equipment was sufficient." id="radio-group-31-3" required="required" aria-required="true" value="4" type="radio">
                                            <label for="radio-group-31-3">4 - Agree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The amount of lab equipment was sufficient." id="radio-group-31-4" required="required" aria-required="true" value="5" type="radio">
                                            <label for="radio-group-31-4">5 - Strongly Agree</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-radio-group form-group field-radio-group-32">
                                    <label for="radio-group-32" class="fb-radio-group-label">The available space was sufficient for the lab activities.<span class="fb-required">*</span></label>
                                    <div class="radio-group">
                                        <div class="fb-radio-inline">
                                            <input name="The available space was sufficient for the lab activities." id="radio-group-32-0" required="required" aria-required="true" value="1" type="radio">
                                            <label for="radio-group-32-0">1 - Strongly Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The available space was sufficient for the lab activities." id="radio-group-32-1" required="required" aria-required="true" value="2" type="radio">
                                            <label for="radio-group-32-1">2 - Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The available space was sufficient for the lab activities." id="radio-group-32-2" required="required" aria-required="true" value="3" type="radio">
                                            <label for="radio-group-32-2">3 - Neutral</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The available space was sufficient for the lab activities." id="radio-group-32-3" required="required" aria-required="true" value="4" type="radio">
                                            <label for="radio-group-32-3">4 - Agree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="The available space was sufficient for the lab activities." id="radio-group-32-4" required="required" aria-required="true" value="5" type="radio">
                                            <label for="radio-group-32-4">5 - Strongly Agree</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-radio-group form-group field-radio-group-33">
                                    <label for="radio-group-33" class="fb-radio-group-label">If lab equipment or setups were not functioning properly, adequate support was available to rectify the situation.<span class="fb-required">*</span></label>
                                    <div class="radio-group">
                                        <div class="fb-radio-inline">
                                            <input name="If lab equipment or setups were not functioning properly, adequate support was available to rectify the situation." id="radio-group-33-0" required="required" aria-required="true" value="1" type="radio">
                                            <label for="radio-group-33-0">1 - Strongly Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="If lab equipment or setups were not functioning properly, adequate support was available to rectify the situation." id="radio-group-33-1" required="required" aria-required="true" value="2" type="radio">
                                            <label for="radio-group-33-1">2 - Disagree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="If lab equipment or setups were not functioning properly, adequate support was available to rectify the situation." id="radio-group-33-2" required="required" aria-required="true" value="3" type="radio">
                                            <label for="radio-group-33-2">3 - Neutral</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="If lab equipment or setups were not functioning properly, adequate support was available to rectify the situation." id="radio-group-33-3" required="required" aria-required="true" value="4" type="radio">
                                            <label for="radio-group-33-3">4 - Agree</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="If lab equipment or setups were not functioning properly, adequate support was available to rectify the situation." id="radio-group-33-4" required="required" aria-required="true" value="5" type="radio">
                                            <label for="radio-group-33-4">5 - Strongly Agree</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-textarea form-group field-textarea-31">
                                    <label for="textarea-31" class="fb-textarea-label">What, if anything, could improve lab space and equipment?</label>
                                    <br></br><textarea type="textarea" maxlength = "200" class="form-control" name="What, if anything, could improve lab space and equipment?" id="textarea-31"></textarea>
                                </div>
                                <div class="">
                                    <h4 id="control-553660">Time Required to Complete Labs</h4></div>
                                <div class="fb-radio-group form-group field-radio-group-41">
                                    <label for="radio-group-41" class="fb-radio-group-label">On average, the approximate number of hours completing a lab was<span class="fb-required">*</span></label>
                                    <div class="radio-group">
                                        <div class="fb-radio-inline">
                                            <input name="On average, the approximate number of hours completing a lab was" id="radio-group-41-0" required="required" aria-required="true" value="<2" type="radio">
                                            <label for="radio-group-41-0">&lt;2</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="On average, the approximate number of hours completing a lab was" id="radio-group-41-1" required="required" aria-required="true" value="2" type="radio">
                                            <label for="radio-group-41-1">2</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="On average, the approximate number of hours completing a lab was" id="radio-group-41-2" required="required" aria-required="true" value="2.5" type="radio">
                                            <label for="radio-group-41-2">2.5</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="On average, the approximate number of hours completing a lab was" id="radio-group-41-3" required="required" aria-required="true" value="3" type="radio">
                                            <label for="radio-group-41-3">3</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="On average, the approximate number of hours completing a lab was" id="radio-group-41-4" required="required" aria-required="true" value=">3" type="radio">
                                            <label for="radio-group-41-4">&gt;3</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-radio-group form-group field-radio-group-42">
                                    <label for="radio-group-42" class="fb-radio-group-label">How many hoursdid you spend preparing for the lab?<span class="fb-required">*</span></label>
                                    <div class="radio-group">
                                        <div class="fb-radio-inline">
                                            <input name="How many hoursdid you spend preparing for the lab?" id="radio-group-42-0" required="required" aria-required="true" value="<2" type="radio">
                                            <label for="radio-group-42-0">&lt;2</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="How many hoursdid you spend preparing for the lab?" id="radio-group-42-1" required="required" aria-required="true" value="2" type="radio">
                                            <label for="radio-group-42-1">2</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="How many hoursdid you spend preparing for the lab?" id="radio-group-42-2" required="required" aria-required="true" value="2.5" type="radio">
                                            <label for="radio-group-42-2">2.5</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="How many hoursdid you spend preparing for the lab?" id="radio-group-42-3" required="required" aria-required="true" value="3" type="radio">
                                            <label for="radio-group-42-3">3</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="How many hoursdid you spend preparing for the lab?" id="radio-group-42-4" required="required" aria-required="true" value=">3" type="radio">
                                            <label for="radio-group-42-4">&gt;3</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-radio-group form-group field-radio-group-43">
                                    <label for="radio-group-43" class="fb-radio-group-label">How many hours did you spend writing lab reports outside the designated lab period?<span class="fb-required">*</span></label>
                                    <div class="radio-group">
                                        <div class="fb-radio-inline">
                                            <input name="How many hours did you spend writing lab reports outside the designated lab period?" id="radio-group-43-0" required="required" aria-required="true" value="<2" type="radio">
                                            <label for="radio-group-43-0">&lt;2</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="How many hours did you spend writing lab reports outside the designated lab period?" id="radio-group-43-1" required="required" aria-required="true" value="2" type="radio">
                                            <label for="radio-group-43-1">2</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="How many hours did you spend writing lab reports outside the designated lab period?" id="radio-group-43-2" required="required" aria-required="true" value="2.5" type="radio">
                                            <label for="radio-group-43-2">2.5</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="How many hours did you spend writing lab reports outside the designated lab period?" id="radio-group-43-3" required="required" aria-required="true" value="3" type="radio">
                                            <label for="radio-group-43-3">3</label>
                                        </div>
                                        <div class="fb-radio-inline">
                                            <input name="How many hours did you spend writing lab reports outside the designated lab period?" id="radio-group-43-4" required="required" aria-required="true" value=">3" type="radio">
                                            <label for="radio-group-43-4">&gt;3</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <h4 id="control-2785965">Lecture Section Instructor</h4></div>
                                <div class="fb-textarea form-group field-textarea-51">
                                    <label for="textarea-51" class="fb-textarea-label">What feedback would you give the lecture section instructor (not the lab TA) about the labs?</label>
                                    <br></br><textarea type="textarea" maxlength = "200" class="form-control" name="What feedback would you give the lecture section instructor (not the lab TA) about the labs?" id="textarea-51"></textarea>
                                </div>
                            <input class="submit" type="submit" value="Submit">

                            </div>
                        </form>

                        <script>
                            //Use getValue to get the value of the question
                            survey.getValue('questionName');
                            //Use setValue to set the value of the question
                            survey.setValue('questionName', newValue);
                            //Use data property to get/set survey data as json
                            survey.data = {"youquestion1": value1, "youquestionN":valueN};
                            //Use onValueChanged event to get a notification on chaning question value.
                            survey.onValueChanged.add(function (sender, options) {
                                var mySurvey = sender;
                                var questionName = options.name;
                                var newValue = options.value;
                            });
                            //Use onComplete to get survey.data to pass it to the server.
                            survey.onComplete.add(function (sender) {
                                var mySurvey = sender;
                                var surveyData = sender.data;
                            });

                        </script>

            
        </div>
    </body>
</html>
