* {
    text-align: center;
}

h1{
    padding-top: 50px;
    text-align: center;
    color: darkred;
}

/* upload button */

.button{
    padding:0.35em 1.2em;
    border:0.1em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font-weight:300;
    color:black;
    text-align:center;
}

.button:hover{
    color:white;
    background-color:darkred;
}

@media all and (max-width:30em){
    .button{
    display:block;
    margin:0.4em auto;
    }
}

/* sidenav */

